---
// StarMenu.astro
import { getRandomNumber } from "../utils";
import StarItem from "./star-item.astro";

const colors = {
    lightBlue: "#95BCCC",
    pink: "#FCDCDC",
    darkBlue: "#2B4C59",
    brown: "#988080",
    gray: "#BECEDA",
    lightBrown: "#DDD4D4",
} as const;

const getPlaceholderStarItem = (color: string) => {
    const coordinates = {
        x: getRandomNumber(5, 95),
        y: getRandomNumber(5, 95),
    };
    return {
        color,
        coordinates,
        href: "/",
        id: null,
        label: "",
        left: `calc(95% - ${getRandomNumber(5, 95)}%)`,
        radius: getRandomNumber(1, 3),
        top: `calc(95% - ${getRandomNumber(5, 95)}%)`,
    };
};

const menuItems = [
    (() => {
        const coordinates = {
            x: getRandomNumber(70, 95),
            y: getRandomNumber(50, 95),
        };
        return {
            coordinates,
            id: "1",
            color: colors.lightBlue,
            href: "/",
            label: "Home",
            radius: getRandomNumber(5, 10),
            left: `calc(95% - ${coordinates.x}%)`,
            top: `calc(95% - ${coordinates.y}%)`,
        };
    })(),
    getPlaceholderStarItem(colors.pink),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBlue),
    (() => {
        const coordinates = {
            x: getRandomNumber(30, 70),
            y: getRandomNumber(50, 95),
        };
        return {
            coordinates,
            id: "5",
            color: colors.lightBlue,
            label: "About",
            href: "/about",
            radius: getRandomNumber(5, 10),
            left: `calc(95% - ${coordinates.x}%)`,
            top: `calc(95% - ${coordinates.y}%)`,
        };
    })(),
    (() => {
        const coordinates = {
            x: getRandomNumber(5, 30),
            y: getRandomNumber(50, 95),
        };
        return {
            coordinates,
            id: "6",
            color: colors.lightBlue,
            label: "Experience",
            href: "/experience",
            radius: getRandomNumber(5, 10),
            left: `calc(95% - ${coordinates.x}%)`,
            top: `calc(95% - ${coordinates.y}%)`,
        };
    })(),
    getPlaceholderStarItem(colors.brown),
    getPlaceholderStarItem(colors.pink),
    (() => {
        const coordinates = {
            x: getRandomNumber(5, 50),
            y: getRandomNumber(5, 50),
        };
        return {
            coordinates,
            id: "9",
            color: colors.lightBlue,
            label: "Challenges",
            href: "/challenges",
            radius: getRandomNumber(5, 10),
            left: `calc(95% - ${coordinates.x}%)`,
            top: `calc(95% - ${coordinates.y}%)`,
        };
    })(),
    getPlaceholderStarItem(colors.brown),
    getPlaceholderStarItem(colors.lightBlue),
    getPlaceholderStarItem(colors.lightBrown),
    getPlaceholderStarItem(colors.lightBrown),
];
---

<div
    class="absolute w-full h-screen visible opacity-100 transition-[visibility,opacity] duration-500 ease-linear md:flex md:justify-center"
>
    <div class="h-full fixed w-full p-5 pt-24">
        <div class="relative h-full w-full">
            {
                menuItems.map((item, index) => (
                    <StarItem
                        top={item.top}
                        left={item.left}
                        isActive={false}
                        radius={item.radius}
                        color={item.color}
                        isHidden={false}
                        itemId={item.id ? Number(item.id) : index + 1000}
                        label={item.label}
                        href={item.href}
                        coordinates={item.coordinates}
                    />
                    // <span
                    //     class="absolute"
                    //     id={item.id ?? String(index + 1000)}
                    //     style={`background-color: ${item.color}; top: ${item.top}; left: ${item.left} `}
                    // >
                    //     {item.label}
                    // </span>
                ))
            }
        </div>
    </div>
</div>
